.wrapper {
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button:hover {
  background-color: rgba(16, 212, 16, 0.692);
}

